.gradient-container {
  display: flex;
  background-image: linear-gradient(to bottom, #818181, #37393d, #343438);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  justify-content: center;
  align-content: center;
  height:100vw;
}


body{
  padding: 0%;
  margin: 0%;
}



.kona{
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kona > div {
  border: 3px dotted darkgray;
}

.services{
  display: grid;
  justify-content: space-around;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 30%;
}

.services > div{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}